body {
    background-color:#5CDB95;
    min-height:100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theBox {
    width: 550px;
    min-height: 450px;
    background-color: #05386B;
    border-radius: 20px;
    padding: 40px 30px;
}

.borderTen {
    border-radius: 10px;
}