body {
    background-color: #5cdb95;
}

.bg-second {
    background-color: #379683;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.font-1 {
    font-family: "Ramaraja", serif;
    color: #edf5e1;
}

.font-2 {
    font-family: "Rancho", cursive;
    color: #edf5e1;
}

.btton {
    border-radius: 15px;
    padding: 0.5em;
    background-color: #05386b;
}

#bd-login {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box-login {
    width: 400px;
    height: 400px;
    background-color: #05386b;
    border-radius: 15px;
    padding: 15px;
    color: #edf5e1;
    box-sizing: border-box;
}

.box-login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 15px;
    box-sizing: border-box;
}

.beton {
    background-color: #ed0b8f;
    padding: 8px 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
