body {
    background-color: #5cdb95;
}

.bg-second {
    background-color: #379683;
}

.bgThird {
    background-color: #05386b;
}

.borderTen {
    border-radius: 10px;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.searchbtn {
    outline: none;
    border: none;
    background: transparent;
    margin-left: -40px;
}

.font-1 {
    font-family: "Ramaraja", serif;
    color: #edf5e1;
}

.font-2 {
    font-family: "Rancho", cursive;
    color: #edf5e1;
}

.btton {
    border-radius: 15px;
    padding: 0.5em;
    background-color: #05386b;
}

#bd-login {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box-login {
    width: 500px;
    height: 400px;
    background-color: #05386b;
    border-radius: 15px;
    padding: 15px;
    color: #edf5e1;
    box-sizing: border-box;
}
