body {
    background-color: #5cdb95;
}

.bg-second {
    background-color: #379683;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.font-1 {
    font-family: "Ramaraja", serif;
    color: #edf5e1;
}

.font-2 {
    font-family: "Rancho", cursive;
    color: #edf5e1;
}

.btton {
    border-radius: 15px;
    padding: 0.5em;
    background-color: #05386b;
}