* {
    box-sizing: border-box;
  }
  
  body {
    min-height:100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .create-form .input-group{
    width: 100%;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .create-form .input-group span{
    top: 0%;
    align-items: center;
  }

  .create-form .input-group2 input{
    margin-left: 5px;
    height: 100%;
    width: 90%;
    background: white;
    font-family:Roboto, sans-serif;
    font-size: medium;
    border: none;
    text-align: left;
    color: black;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 31.5px;
}
  
  input {
    height: 100%;
    width: 90%;
    background: white;
    font-family:Roboto, sans-serif;
    font-size: medium;
    border: none;
    text-align: left;
    color: black;
    border-radius: 10px;
    padding: 15px 20px;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }

  /* Hide all steps by default: */
  .tab {
    display: none;
    width: 500px;
    height: 500px;
    background-color: #05386B;
    border-radius: 20px;
    padding: 40px 30px;
  }

  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: poppins, stoke;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    border-radius: 10px;
    background-color: #F64C72;
    margin-left: 80px;
    margin-top: 30px;
  }

  #nextBtn {
    border-radius: 10px;
    margin-left: 50px;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-right: 10px;
    background-color: white;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
    .step.finish {
    background-color:white;
  }